img.a {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.b {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.c {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.d {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.e {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.f {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.g {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.h {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.i {
    width: 14px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.j {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.k {
    width: 33px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.l {
    width: 28px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.m {
    width: 40px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.n {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.o {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.p {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.q {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.r {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.s {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.t {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.u {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.v {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.w {
    width: 42px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.x {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.y {
    width: 35px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.z {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.comma {
    width: 10px;
    height:40px;
    margin-top:10px;
}
img.apostrophe {
    width: 10px;
    height:40px;
    margin-bottom: 10px;
}
img.exclamation {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.question {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.dollar {
    width: 30px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}
img.space {
    width: 10px;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}

/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}