html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #F4D58D;
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}
nav.navbar {
    height: 40px;
    justify-content: center;
}
a.navbar-brand {
    font-size: 13px;
}

.jumbotron {
    background-color: transparent;
}   
header {
    margin-top: 2vh;
}
ul.nav {
    justify-content: center;
}
a.nav-link {
    /* border: 0.1vh solid black; */
    font-size: 1.75vh;
    font-weight: 500;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    color: #001427;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
a.nav-link.active {
    color: #001427;
    border-bottom: 0.1vh solid #001427;
}
a.nav-link.separator {
    /* border: 0.1vh solid black; */
    font-size: 1.75vh;
    font-weight: 500;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    color: #001427;
}
li.nav-item,
li.nav-item.active {
    background: transparent;
    outline: none;
    position: relative;
    overflow: hidden;
}
li.nav-item:hover a,
li.nav-item.active:hover a {
    opacity: 0;
    transform: translate(0,0);
}
li.nav-item:hover:before,
li.nav-item.active:hover:before {
    opacity: 1;
    transform: translate(0,0);
}
li.nav-item:before {
    content: attr(data-hover);
    position: absolute;
    top: 1vh;
    left: 1vh;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.75vh;
    font-weight: 500;
    color: #708D81;
    opacity: 0;
    transform: translate(0,100%);
    transition: all .3s ease-in-out;
}
li.nav-item.active:before {
    color: #708D81;
    /* border-bottom: 0.1vh solid #708D81; */
}
.contact-form {
    clear: left;
}

/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    ul.nav {
        justify-content: flex-end;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    ul.nav {
        justify-content: flex-end;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    ul.nav {
        justify-content: flex-end;
    }
}